<form id='text-input-form' class='form-rest'>
  <p>Document statblock was copied from:</p>
  <select name='inputFormat' id='text-format'>
    <option value='crb'>Core Rules</option>
    <option value='adversary-conversion'>Adversary Conversion.pdf</option>
  </select>
  <p>{{localize 'TOR2E-NPC-PARSER.dialog.instruction'}}</p>
  <label class='text'>
    <textarea id='text-input' rows='10' cols='100'></textarea>
  </label>
</form>