<form id='text-input-form' class='form-rest'>
  <p>{{localize 'TOR2E-NPC-PARSER.dialog.instruction'}}</p>
  <label class='text'>
    <textarea id='text-input' rows='10' cols='100'></textarea>
  </label>
</form>